@import url("https://fonts.googleapis.com/css2?family=Bitter&display=swap");
.App {
  text-align: center;
  font-family: "Bitter", serif;
  margin-bottom: 50px;
}
.container-fluid {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

